<html>
    <title>Home</title>
    <style>
        img {
    max-width: 100%;
    max-height: 100%;
}
    </style>
    <body>
        Enter video id for short summary and full transcript
        <form action="{{url_for('video_summary')}}" method="post">

            <input type="text" name="vid" >
            <input type="submit" value="Search">
        </form>
        <br>
        <div>
            <div>
                {% if summary !='' %}
                <h3>Video Summary</h3> <br>
                {% endif %}
                {{summary}}
            </div>
            <br>
            <div>
                {% if transcript !='' %}
                <h3>Full transcript</h3>
                {% endif %}

                {{transcript}}
            </div>
        </div>
    </body>
</html>